<div class="row_1 col_1 back_arrow_container">
    <img class="image_text back_arrow" src="views/resources/back_arrow.png">
</div>
<div class="row_4 col_7 category_container">
    <div class="row_1 row_pull_1">
        <div class="col_3">
            <img class="image_text center_vertical center_horizontal" src="views/category_4/resources/1.png">
        </div>
    </div>
    <div class="row_1 row_pull_1">

    </div>
    <div class="row_1 row_pull_1">
        <div class="col_1 col_offset_1">
            <img src="views/category_1/resources/2.png">
        </div>
    </div>
</div>
<div class="row_4 col_4 col_offset_3 row_push_4">
    <div style="height: 37.5% !important; width: 100% !important">
        <div id="_1" class="item-thumbs category_selector" style="width: 57% !important; height: 100% !important; float: left">
            <div class="hover-wrap fancybox">
                <div class="overlay-img red_background">
                    <div class="center_vertical">
                        <img class="image_text center_horizontal" src="views/category_4/resources/t_1.png">
                    </div>
                </div>
            </div>
            <img class="category_out" src="views/category_4/resources/category_4-1.png">
        </div>
        <div id="_2" class="item-thumbs category_selector" style="width: 43% !important; height: 100% !important; float: left">
            <div class="hover-wrap fancybox">
                <div class="overlay-img red_background">
                    <div class="center_vertical">
                        <img class="image_text center_horizontal" src="views/category_4/resources/t_2.png">
                    </div>
                </div>
            </div>
            <img class="category_out" src="views/category_4/resources/category_4-2.png">
        </div>
    </div>
    <div id="_3" class="item-thumbs category_selector" style="height: 25% !important; width: 100% !important">
        <div class="hover-wrap fancybox">
            <div class="overlay-img green_background">
                <div class="center_vertical">
                    <img class="image_text center_horizontal" src="views/category_4/resources/t_3.png">
                </div>
            </div>
        </div>
        <img class="category_out" src="views/category_4/resources/category_4-3.png">
    </div>
    <div style="height: 37.5% !important; width: 100% !important">
        <div id="_4" class="item-thumbs category_selector" style="width: 51% !important; height: 100% !important; float: left">
            <div class="hover-wrap fancybox">
                <div class="overlay-img red_background">
                    <div class="center_vertical">
                        <img class="image_text center_horizontal" src="views/category_4/resources/t_4.png">
                    </div>
                </div>
            </div>
            <img class="category_out" src="views/category_4/resources/category_4-4.png">
        </div>
        <div id="_5" class="item-thumbs category_selector" style="width: 49% !important; height: 100% !important; float: left">
            <div class="hover-wrap fancybox">
                <div class="overlay-img red_background">
                    <div class="center_vertical">
                        <img class="image_text center_horizontal" src="views/category_4/resources/t_5.png">
                    </div>
                </div>
            </div>
            <img class="category_out" src="views/category_4/resources/category_4-5.png">
        </div>
    </div>
</div>