<div class="row_4 col_7 category_container">
</div>
<div class="row_4 col_4 col_offset_3 row_push_4">
    <div style="height: 37.5% !important; width: 100% !important">
        <div id="_1" class="category_selector" style="width: 57% !important; height: 100% !important; float: left">
            <img src="views/resources/category1-1.png">
        </div>
        <div id="_2" class="category_selector" style="width: 43% !important; height: 100% !important; float: left">
            <img src="views/resources/category1-2.png">
        </div>
    </div>
    <div id="_3" class="category_selector" style="height: 25% !important; width: 100% !important">
        <img src="views/resources/category1-3.png">
    </div>
    <div style="height: 37.5% !important; width: 100% !important">
        <div id="_4" class="category_selector" style="width: 51% !important; height: 100% !important; float: left">
            <img src="views/resources/category1-4.png">
        </div>
        <div id="_5" class="category_selector" style="width: 49% !important; height: 100% !important; float: left">
            <img src="views/resources/category1-5.png">
        </div>
    </div>
</div>