<div class="row_4 col_7">
    <div class="row_1">
        <div id="text_index_1" class="col_3 col_offset_3 hidden text">
            <!--<img class="image_text center_vertical center_horizontal" src="views/resources/text-cantineros.png"/>-->
        </div>
        <div id="text_index_2" class="col_3 col_offset_2 hidden text">
            <!--<img class=" center_vertical center_horizontal" src="views/resources/text-cantineros.png"/>-->
        </div>
    </div>

    <div class="row_1 row_pull_1">
        <div id="text_index_3" class="col_3 col_offset_1 hidden text">
            <!--<img class="image_text center_vertical center_horizontal" src="views/resources/text-cantineros.png"/>-->
        </div>
        <div id="text_index_4" class="col_3 col_offset_1 hidden text">
            <img class="image_text center_vertical center_horizontal" src="views/resources/text-turismo.png"/>
        </div>
    </div>

    <div class="row_1 row_pull_1">
        <div id="text_index_5" class="col_4 col_offset_2 hidden text">
            <img class="image_text center_vertical center_horizontal" src="views/resources/text-cantineros.png"/>
        </div>
        <div id="text_index_6" class="col_2 col_offset_4 hidden text">
            <!--<img class=" center_vertical center_horizontal" src="views/resources/text-cantineros.png"/>-->
        </div>
    </div>
</div>

<div class="row_4 row_push_4 col_7">
    <div class="row_1">
        <div data-text='' data-animateIn="bounceIn" data-animateOut="bounceOut" id="image_index_1" class="col_1 col_offset_2 image wow animated bounceIn animateOut">
            <img src="views/resources/1.png">
        </div>
        <div data-text='' data-animateIn="bounceIn" data-animateOut="bounceOut" id="image_index_2" class="col_1 col_offset_2 image wow animated bounceIn animateOut">
            <img src="views/resources/2.png">
        </div>
    </div>

    <div class="row_1">
        <div class="col_1 col_offset_1">
            <img src="assets/img/logo.png">
        </div>
        <div class="col_4">
            <img class="image_text center_vertical center_horizontal" src="views/resources/text-academia.png"/>
        </div>
    </div>

    <div class="row_1">
        <div data-text='' data-animateIn="bounceIn" data-animateOut="bounceOut" id="image_index_3" class="col_1 image wow animated bounceIn animateOut">
            <img data-text='' src="views/resources/3.png" style="left: -3px;
                                                    position: relative !important;
                                                    top: 3px;">
        </div>
        <div data-text='' data-animateIn="bounceIn" data-animateOut="bounceOut" id="image_index_4" class="col_1 col_offset_3 image wow animated bounceIn animateOut">
            <img src="views/resources/4.png">
        </div>
    </div>

    <div class="row_1">
        <div data-text='' data-animateIn="bounceIn" data-animateOut="bounceOut" id="image_index_5" class="col_1 col_offset_1 image wow animated bounceIn animateOut">
            <img src="views/resources/5.png" style="left: -3px;
                                                    position: relative !important;
                                                    top: 3px;">
        </div>
        <div data-text='' data-animateIn="bounceIn" data-animateOut="bounceOut" id="image_index_6" class="col_1 col_offset_4 image wow animated bounceIn animateOut">
            <img src="views/resources/6.png">
        </div>
    </div>

</div>
